h3{
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.015625rem;
}

h4{
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015625rem;
}

p{
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.15385;
  letter-spacing: -0.00625rem;
}



.card-container{
  background-color: var(--card-bkg);
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.10);;
  height: 8.375rem;
  margin: 0 auto 1rem 1.5rem;
  position: relative;
  width: 20.4375rem;
}

.card-container > *{
  display: inline-flex;
  position: absolute;
}

.card-container > .arrow-right{
  display: none;
  background-image: url("/assets/icon-arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 0.5rem;
  width: 0.25rem;
}

.client-name{
  color: var(--client-name);
  right: 1.5rem;
  top: 1.5625rem;
}

.invoice-total{
  bottom: 1.375rem;
  color: var(--invoices-title);
  left: 1.5rem;
}

.margin-gap{
  height: 5.5625rem;
  width: 100%;
}

.payment-due{
  bottom: 3.4375rem;
  color: var(--due-date);
  left: 1.5rem;
}

.payment-due > span{
  color: var(--invoices-count);
}

.round{
  border-radius: 0.25rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  width: 0.5rem;
}

.status-container{
  border-radius: 0.375rem;
  align-items: center;
  justify-content: center;
  bottom: 1.75rem;
  height: 2.5rem;
  right: 1.5rem;
  width: 6.5rem;
}

.status-container.paid {
  background-color: rgba(51, 214, 159, 0.0570882149040699);
}

.status-container.paid  > .status{
  color: #33D69F;
}

.status-container.paid  > .round{
  background-color: #33D69F;
}

.status-container.pending {
  background-color: rgba(255, 143, 0, 0.0570882149040699);
}

.status-container.pending > .status{
  color: #FF8F00;
}

.status-container.pending > .round{
  background-color: #FF8F00;
}

.status-container.draft {
  background-color: rgba(223, 227, 250, 0.0570882149040699);
}

.status-container.draft > .status{
  color: #DFE3FA;
}

.status-container.draft > .round{
  background-color: #DFE3FA;
}

.string-id{
  left: 1.5rem;
  top: 1.5625rem;
  color: var(--invoices-title);
}

.string-id:before{
  content: "#";
  color: #7E88C3;
}
