@media only screen and (min-width: 768px) {

  form{
    padding: 2.875rem 3.5rem 2.9375rem 3.5rem;
  }

  form > h4:last-of-type{
      margin-top: 3.0625rem;
  }

  .scrollable {
    width: 38.5rem;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
  }

  .string-id{
    margin: 3.6875rem auto 0 3.5rem;
  }

  .mobile-short{
    width: 9.5rem;
  }
}
