:host{
  background-color: var(--edit-bkg);
  display: block;
  width: 100vw;
  height: calc(100vh - 72px);
  margin-top: 4.5rem;
  margin-bottom: 0;
  padding: 2.0625rem 1.5rem 1.5rem 1.5rem;
  overflow: auto;
}

h4{
  color: #7C5DFA;
}

form > h4:first-of-type{
  margin: 1.375rem 0 1.5625rem;
}

form > h4:last-of-type{
  margin: 2.5625rem 0 1.5rem;
}

.go-back{
  background-color: inherit;
  color: var(--invoices-title);
  display: flex;
}


.go-back::before{
  content: url("/assets/icon-arrow-left.svg");
  margin-right: 1.47875rem;
}

.input-container{
  display: flex;
  flex-direction: column;
}

.input-container > label{
  color: var(--item-name);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.15385;
  letter-spacing: -0.00625rem;
  margin: 1.5625rem 0 0.5625rem 0;
}

.string-id{
  color: var(--invoices-title);
  line-height: 1.33333rem;
  margin-top: 1.625rem;
}

.string-id > span{
  color: var(--edit-hash);
}
