<div class="scrollable" cdk-scrollable>
  <button class="go-back" (click)="goBackClicked()"  *ngIf="!(isNotMobile$ | async)"><h4>Go back</h4></button>
  <h2 class="string-id" *ngIf="isEdit; else newInvoiceTitle">Edit <span>#</span>{{invoice ? invoice.stringId : ""}}</h2>
  <ng-template #newInvoiceTitle>
    <h2 class="string-id">New Invoice</h2>
  </ng-template>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <h4>Bill From</h4>
    <div class="input-container">
      <label for="senderStreet" [ngClass]="!editForm.controls['senderStreet'].valid && editForm.controls['senderStreet'].touched ? 'error-message' : null">Street Address</label>
      <p class="error-message" *ngIf="!editForm.controls['senderStreet'].valid && editForm.controls['senderStreet'].touched">can't be empty</p>
      <input id="senderStreet" type="text" formControlName="senderStreet">
    </div>

    <div class="input-container short">
      <label for="senderCity" [ngClass]="!editForm.controls['senderCity'].valid && editForm.controls['senderCity'].touched ? 'error-message' : null">City</label>
      <p class="error-message" *ngIf="!editForm.controls['senderCity'].valid && editForm.controls['senderCity'].touched">can't be empty</p>
      <input id="senderCity" type="text" formControlName="senderCity">
    </div>

    <div class="input-container short">
      <label for="senderPostCode" [ngClass]="!editForm.controls['senderPostCode'].valid && editForm.controls['senderPostCode'].touched ? 'error-message' : null">Post Code</label>
      <p class="error-message" *ngIf="!editForm.controls['senderPostCode'].valid && editForm.controls['senderPostCode'].touched">can't be empty</p>
      <input id="senderPostCode" type="text" formControlName="senderPostCode">
    </div>

    <div class="input-container mobile-short">
      <label for="senderCountry" [ngClass]="!editForm.controls['senderCountry'].valid && editForm.controls['senderCountry'].touched ? 'error-message' : null">Country</label>
      <p class="error-message" *ngIf="!editForm.controls['senderCountry'].valid && editForm.controls['senderCountry'].touched">can't be empty</p>
      <input id="senderCountry" type="text" formControlName="senderCountry">
    </div>

    <h4>Bill To</h4>

    <div class="input-container">
      <label for="name" [ngClass]="!editForm.controls['clientName'].valid && editForm.controls['clientName'].touched ? 'error-message' : null">Client's Name</label>
      <p class="error-message" *ngIf="!editForm.controls['clientName'].valid && editForm.controls['clientName'].touched">can't be empty</p>
      <input id="name" type="text" formControlName="clientName">
    </div>

    <div class="input-container">
      <label for="email" [ngClass]="!editForm.controls['clientEmail'].valid && editForm.controls['clientEmail'].touched ? 'error-message' : null">Client's Email</label>
      <p class="error-message" *ngIf="!editForm.controls['clientEmail'].valid && editForm.controls['clientEmail'].touched">can't be empty</p>
      <input id="email" type="email" formControlName="clientEmail">
    </div>

    <div class="input-container">
      <label for="clientStreet" [ngClass]="!editForm.controls['clientStreet'].valid && editForm.controls['clientStreet'].touched ? 'error-message' : null">Street Address</label>
      <p class="error-message" *ngIf="!editForm.controls['clientStreet'].valid && editForm.controls['clientStreet'].touched">can't be empty</p>
      <input id="clientStreet" type="text" formControlName="clientStreet">
    </div>

    <div class="input-container short">
      <label for="clientCity" [ngClass]="!editForm.controls['clientCity'].valid && editForm.controls['clientCity'].touched ? 'error-message' : null">City</label>
      <p class="error-message" *ngIf="!editForm.controls['clientCity'].valid && editForm.controls['clientCity'].touched">can't be empty</p>
      <input id="clientCity" type="text" formControlName="clientCity">
    </div>

    <div class="input-container short">
      <label for="clientPostCode" [ngClass]="!editForm.controls['clientPostCode'].valid && editForm.controls['clientPostCode'].touched ? 'error-message' : null">Post Code</label>
      <p class="error-message" *ngIf="!editForm.controls['clientPostCode'].valid && editForm.controls['clientPostCode'].touched">can't be empty</p>
      <input id="clientPostCode" type="text" formControlName="clientPostCode">
    </div>

    <div class="input-container mobile-short">
      <label for="clientCountry" [ngClass]="!editForm.controls['clientCountry'].valid && editForm.controls['clientCountry'].touched ? 'error-message' : null">Country</label>
      <p class="error-message" *ngIf="!editForm.controls['clientCountry'].valid && editForm.controls['clientCountry'].touched">can't be empty</p>
      <input id="clientCountry" type="text" formControlName="clientCountry">
    </div>

    <div class="input-container invoice-date">
      <h6>Invoice Date</h6>
      <date-picker formControlName="createdAt"></date-picker>
    </div>

    <div class="input-container dropdown payment-term">
      <!--<label for="paymentTerm">Payment Term</label>
      <input id="paymentTerm" type="text" formControlName="paymentTerm">-->
      <h6>Payment Terms</h6>
      <input type="checkbox" class="menu-flag" #menuFlag>
      <button  type="button" class="payment-term-menu"
              (click)="menuClicked(menuFlag)"
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin"
      >
        Net {{paymentTerm}} Day<ng-container *ngIf="paymentTerm !== 1">s</ng-container>
      </button>
      <ng-template cdkConnectedOverlay
                   [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="menuIsOpen"
                   [cdkConnectedOverlayPositions]="connectedPositions"
                   (overlayOutsideClick)="clickedOutsideOverlay($event, menuFlag, trigger.elementRef)"
      >
        <ul class="menu-container" cdkMenu>
          <li><input type="radio" name="paymentTerm" [value]="1" id="one" [checked]="paymentTerm === 1" (change)="paymentTermClicked(1, menuFlag)"><label for="one">Net 1 Day</label></li>
          <li><input type="radio" name="paymentTerm" [value]="7" id="seven" [checked]="paymentTerm === 7" (change)="paymentTermClicked(7, menuFlag)"><label for="seven">Net 7 Days</label></li>
          <li><input type="radio" name="paymentTerm" [value]="14" id="fourteen" [checked]="paymentTerm === 14" (change)="paymentTermClicked(14, menuFlag)"><label for="fourteen">Net 14 Days</label></li>
          <li><input type="radio" name="paymentTerm" [value]="30" id="thirty" [checked]="paymentTerm === 30" (change)="paymentTermClicked(30, menuFlag)"><label for="thirty">Net 30 Days</label></li>

        </ul>
      </ng-template>
    </div>

    <div class="input-container">
      <label for="projectDescription" [ngClass]="!editForm.controls['description'].valid && editForm.controls['description'].touched ? 'error-message' : null">Project Description</label>
      <p class="error-message" *ngIf="!editForm.controls['description'].valid && editForm.controls['description'].touched">can't be empty</p>
      <input id="projectDescription" type="text" formControlName="description">
    </div>

    <div class="item-list-container" formArrayName="items">
      <h3 class="item-title">Item List</h3>

      <ng-container  *ngFor="let itemForm of getItems.controls; let item=index">
        <div class="item-container" [formGroupName]="item">
          <div class="input-container item-name">
            <label for="itemName" [ngClass]="!itemForm.valid && itemForm.touched ? 'error-message' : null">Item Name</label>
            <p class="error-message" *ngIf="!itemForm.valid && itemForm.touched">can't be empty</p>
            <input id="itemName" type="text" formControlName="name">
          </div>
          <div class="input-container quantity">
            <label for="itemqty">Qty.</label>
            <input id="itemqty" type="number" formControlName="quantity" #quantity (change)="checkQuantity(quantity, item)">
          </div>
          <div class="input-container price">
            <label for="itemPrice">Price</label>
            <input id="itemPrice" type="text" [value]="getPriceWithDecimal(item)" (change)="updatePrice(item, priceDisplay, totalDisplay)" #priceDisplay>
          </div>
          <div class="input-container total">
            <h6>Total</h6>
            <h4 #totalDisplay>{{getTotal(item) | number: '.2'}}</h4>
          </div>
          <button class="delete-btn" (click)="deleteItem(item)"></button>
        </div>
      </ng-container>

      <button id="addItemBtn" class="add-item-btn" (click)="addItem()" #addBtn>+ Add New Item</button>
      <button type="submit" class="submit-btn" #submitBtn></button>
    </div>

  </form>
  <div class="bottom-spacer">
    <p class="error-message" *ngIf="editForm.invalid">- All fields must be added</p>
    <p class="error-message" *ngIf="editForm.controls['items'].getRawValue().length === 0">- An item must be added</p>
  </div>
  <div class="action-container">
    <button class="cancel-changes" (click)="cancelChanges()">Cancel</button>
    <button class="save-changes" (click)="submitBtn.click()">Save Changes</button>
  </div>
</div>

<loading></loading>
