<div class="scrollable" cdk-scrollable>
  <button class="go-back" (click)="goBackClicked()"><h4>Go back</h4></button>
  <h2 class="string-id">Edit <span>#</span>{{invoice.stringId}}</h2>

  <form [formGroup]="editForm">

    <h4>Bill From</h4>
    <div class="input-container">
      <label for="senderStreet">Street Address</label>
      <input id="senderStreet" type="text" formControlName="senderStreet">
    </div>

    <div class="input-container short">
      <label for="senderCity">City</label>
      <input id="senderCity" type="text" formControlName="senderCity">
    </div>

    <div class="input-container short">
      <label for="senderPostCode">Post Code</label>
      <input id="senderPostCode" type="text" formControlName="senderPostCode">
    </div>

    <div class="input-container">
      <label for="senderCountry">Country</label>
      <input id="senderCountry" type="text" formControlName="senderCountry">
    </div>

    <h4>Bill To</h4>

    <div class="input-container">
      <label for="name">Client's Name</label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div class="input-container">
      <label for="email">Client's Email</label>
      <input id="email" type="email" formControlName="email">
    </div>

    <div class="input-container">
      <label for="clientStreet">Street Address</label>
      <input id="clientStreet" type="text" formControlName="clientStreet">
    </div>

    <div class="input-container short">
      <label for="clientCity">City</label>
      <input id="clientCity" type="text" formControlName="clientCity">
    </div>

    <div class="input-container short">
      <label for="clientPostCode">Post Code</label>
      <input id="clientPostCode" type="text" formControlName="clientPostCode">
    </div>

    <div class="input-container">
      <label for="clientCountry">Country</label>
      <input id="clientCountry" type="text" formControlName="clientCountry">
    </div>

    <div class="input-container">
      <label for="invoiceDate">Invoice Date</label>
      <input id="invoiceDate" type="text" formControlName="invoiceDate">
    </div>

    <div class="input-container dropdown">
      <!--<label for="paymentTerm">Payment Term</label>
      <input id="paymentTerm" type="text" formControlName="paymentTerm">-->
      <input type="checkbox" class="menu-flag" #menuFlag>
      <button class="payment-term-menu"
              (click)="menuClicked(menuFlag)"
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin"
      >
        Net {{paymentTerm}} Day<ng-container *ngIf="invoice.paymentTerms !== 1">s</ng-container>
      </button>
      <ng-template cdkConnectedOverlay
                   [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="menuIsOpen"
                   [cdkConnectedOverlayPositions]="connectedPositions"
                   (overlayOutsideClick)="clickedOutsideOverlay($event, menuFlag, trigger.elementRef)"
      >
        <ul class="menu-container" cdkMenu>
          <li><input type="radio" name="paymentTerm" [value]="1" id="one" [checked]="paymentTerm === 1" (change)="paymentTermClicked(1, menuFlag)"><label for="one">Net 1 Day</label></li>
          <li><input type="radio" name="paymentTerm" [value]="7" id="seven" [checked]="paymentTerm === 7" (change)="paymentTermClicked(7, menuFlag)"><label for="seven">Net 7 Days</label></li>
          <li><input type="radio" name="paymentTerm" [value]="14" id="fourteen" [checked]="paymentTerm === 14" (change)="paymentTermClicked(14, menuFlag)"><label for="fourteen">Net 14 Days</label></li>
          <li><input type="radio" name="paymentTerm" [value]="30" id="thirty" [checked]="paymentTerm === 30" (change)="paymentTermClicked(30, menuFlag)"><label for="thirty">Net 30 Days</label></li>

        </ul>
      </ng-template>
    </div>

    <div class="input-container">
      <label for="projectDescription">Project Description</label>
      <input id="projectDescription" type="text" formControlName="projectDescription">
    </div>

    <div class="item-list-container" formArrayName="items">
      <h3 class="item-title">Item List</h3>

      <ng-container  *ngFor="let itemForm of items">
        <div class="item-container">
          <div class="input-container">
            <label for="itemName">Item Name</label>
            <input id="itemName" type="text" formControlName="name">
          </div>
        </div>
      </ng-container>

    </div>

  </form>
</div>

