@media only screen and (min-width: 768px){
  .count-and-filters{
    height: 3.4375rem;
    margin-top: 3.8125rem;
    width: 42rem;
  }

  .new-invoice{
    height: 3rem;
    width: 9.375rem;
  }

  .new-invoice-design{
    margin: 0.5rem 1rem 0.5rem 0.5rem;
  }

  .title{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.078125rem;
  }

  .title-container{
    gap: 6px;
  }
}
