.count-and-filters{
  display: flex;
  height: 2.75rem;
  justify-content: space-between;
  width: 20.4375rem;
  margin: 2rem auto;
}

label{
  color: var(--invoices-title);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.25px;
  margin-left: 0.8125rem;
  position: relative;
}

li > *:hover {
  cursor: pointer;
}

li > input {
  appearance: none;
  background-color: var(--checkbox-bkg);
  border: 1px solid #7C5DFA;
  border-radius: 2px;
  height: 1rem;
  width: 1rem;
}

li > input:checked + label::before {
  content: url("/assets/icon-check.svg");
  position: absolute;
  left: -1.625rem;
}

.filter{
  background-color: inherit;
  border: none;
  color: var(--invoices-title);
  content: url("/assets/icon-arrow-down.svg");
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015625rem;
}

.filter-and-add{
  display: flex;
}

.filter > input + .caret{
  content: url("/assets/icon-arrow-down.svg");
  margin-left: 0.75rem;
}

.filter-checkbox{
  display: none;
}

.filter > input:checked + .caret {
  rotate: 180deg;
}

.filters-container{
  background-color: var(--filters-container-bkg);
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  height: 8rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  width: 12rem;
}

.filters-container > li{
  display: flex;
  list-style-type: none;
  margin-bottom: 0.875rem;
}

.filters-container > li > input:checked{
  background-color: #7C5DFA;
}

.invoice-count{
  color: var(--invoices-count);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.153846;
  letter-spacing: -0.00625rem;
}

.new-invoice{
  align-items: center;
  display: flex;
  background-color: #7C5DFA;
  border-radius: 1.5rem;
  color: #FFFFFF;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015625rem;
  margin-left: 1.15875rem;
  width: 5.625rem;
}

.new-invoice-design{
  background-color: #FFFFFF;
  background-image: url("/assets/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1.5rem;
  display: inline-block;
  height: 2rem;
  margin: 0.375rem 0.5rem 0.375rem 0.375rem;
  width: 2rem;
}

.title{
  color: var(--invoices-title);
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.046875rem;
}

.title-container{
  align-items: flex-start;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 3px;
  height: inherit;
  width: fit-content;
}
