<div class="title-container">
  <h1 class="title">Invoices</h1>
  <p class="invoice-count" *ngIf="isNotMobile$ | async; else isMobile">There are 7 invoices</p>
  <ng-template #isMobile>
    <p class="invoice-count">7 invoices</p>
  </ng-template>
</div>
<div class="filter-and-add">
  <button class="filter" (click)="filterClicked()" *ngIf="isNotMobile$ | async; else filterByStatus">Filter by status<span></span></button>
  <ng-template #filterByStatus>
    <button class="filter" (click)="filterClicked()">Filter<span></span></button>
  </ng-template>
  <button class="new-invoice" *ngIf="isNotMobile$ | async; else newInvoice"><span class="new-invoice-design"></span>New Invoice</button>
  <ng-template #newInvoice>
    <button class="new-invoice"><span class="new-invoice-design"></span>New</button>
  </ng-template>
</div>
