<div class="title-container">
  <h1 class="title">Invoices</h1>
  <p class="invoice-count" *ngIf="isNotMobile$ | async; else isMobile">There are 7 invoices</p>
  <ng-template #isMobile>
    <p class="invoice-count">7 invoices</p>
  </ng-template>
</div>
<div class="filter-and-add">
  <button class="filter" (click)="filterOpen()">
      <span *ngIf="isNotMobile$ | async; else filterByStatus">Filter by status</span>
    <ng-template #filterByStatus>
      <span>Filter</span>
    </ng-template>
    <span class="caret"></span>
  </button>

  <button class="new-invoice"><span class="new-invoice-design"></span>
    <span *ngIf="isNotMobile$ | async; else newInvoice">New Invoice</span>
    <ng-template #newInvoice>
      <span>New</span>
    </ng-template>
  </button>
</div>
