<ng-template cdkPortalOutlet #portalOutlet="cdkPortalOutlet"></ng-template>

<a class="go-back" routerLink="../">Go Back</a>

<div class="status-design">
  <p>Status</p>
  <div class="status-container" [ngClass]="invoice.status">
    <div class="round"></div>
    <h4 class="status">{{invoice.status | titlecase}}</h4>
  </div>
  <div class="action-btns">
    <button class="edit" (click)="openEditInvoiceDialog(portalOutlet)"><h4>Edit</h4></button>
    <button class="delete"><h4>Delete</h4></button>
    <button class="mark"><h4>Mark as Paid</h4></button>
  </div>
</div>

<div class="invoice-container">
  <h4 class="invoice-id">{{invoice.stringId}}</h4>
  <h6 class="invoice-description">{{invoice.description}}</h6>
  <div class="sender-address">
    <h5>{{invoice.senderAddress.street}}</h5>
    <h5>{{invoice.senderAddress.city}}</h5>
    <h5>{{invoice.senderAddress.postCode}}</h5>
    <h5>{{invoice.senderAddress.country}}</h5>
  </div>
  <div class="billto-container">
    <div class="invoice-date">
      <h5>Invoice Date</h5>
      <h3>{{invoice.createdAt | date: "dd MMM yyyy"}}</h3>
      <h5 class="due-label">Payment Due</h5>
      <h3>{{invoice.paymentDue | date: "dd MMM yyyy"}}</h3>
    </div>
    <div class="bill-to">
      <h5>Bill To</h5>
      <h3>{{invoice.clientName}}</h3>
      <div class="address">
        <h5>{{invoice.clientAddress.street}}</h5>
        <h5>{{invoice.clientAddress.city}}</h5>
        <h5>{{invoice.clientAddress.postCode}}</h5>
        <h5>{{invoice.clientAddress.country}}</h5>
      </div>
    </div>
    <div class="sent-to">
      <h5>Sent to</h5>
      <h3>{{invoice.clientEmail}}</h3>
    </div>
  </div>

  <div *ngIf="isNotMobile$ | async; else mobileItems">
    <items-list [items]="items" [total]="invoice.total"></items-list>
  </div>

  <ng-template #mobileItems>
    <div class="items-container">
      <div class="items" *ngFor="let item of items">
        <div class="name-count">
          <h4 class="item-name">{{item.name}}</h4>
          <h4 class="item-count">{{item.quantity}} x {{0 | currency: 'GBP' | slice:0:1}} {{item.price | currency: 'GBP': ''}}</h4>
        </div>
        <h4 class="item-name">{{0 | currency: 'GBP' | slice:0:1}} {{ item.total | currency: 'GBP': ''}}</h4>
      </div>
    </div>
    <div class="items-total">
      <h5>Amount Due</h5>
      <h2>{{0 | currency: 'GBP' | slice:0:1}} {{ invoice.total | currency: 'GBP': ''}}</h2>
    </div>
  </ng-template>
</div>
<div class="bottom-spacer"></div>


