:host{
  position: relative;
}

div > h3{
  color: var(--invoices-title);
  margin-top: 0.8125rem;
}

h3{
  line-height: 1.33333;
}

h5{
  color: var(--due-date);
}

.action-btns{
  align-items: center;
  background-color: var(--card-bkg);
  bottom: 0;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
  display: flex;
  height: 5.6875rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.address{
  margin-top: 0.4375rem;
}

.billto-container{
  display: flex;
  gap: 3.75rem 2.1875rem;
  flex-wrap: wrap;
  margin-top: 1.9375rem;
}

.bottom-spacer{
  height: 9.1875rem;
}

.due-label{
  margin-top: 1.9375rem;
}

.edit{
  align-items: center;
  display: flex;
  background-color: var(--items-container-bkg);
  border-radius: 1.5rem;
  color: var(--due-date);
  height: 3rem;
  justify-content: center;
  margin-left: 1.5rem;
  width: 4.5625rem;
}

.edit:hover{
  background-color: var(--hover-edit);
  cursor: pointer;
}

.delete{
  background-color: #EC5757;
  border-radius: 1.5rem;
  color: #FFFFFF;
  height: 3rem;
  margin-left: 0.5rem;
  width: 5.5625rem;
}

.delete:hover{
  background-color: #FF9797;
}

.go-back{
  color: var(--invoices-title);
  display: inline-flex;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015625rem;
  margin: 2.0625rem 0 0 1.506875rem;
  text-decoration: none;
}

.go-back:before{
  content: url("/assets/icon-arrow-left.svg");
  margin-right: 1.47875rem;
}

.invoice-container{
   background-color: var(--card-bkg);
   border-radius: 0.5rem;
   box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.10);
   margin: 1.9375rem auto 1rem 1.5rem;
   padding: 1.5rem;
   width: 20.4375rem;
 }

.invoice-description{
  color: var(--due-date);
  letter-spacing: -0.00625rem;
  margin-top: 0.25rem;
}

.invoice-id{
  color: var(--invoices-title);
}

.invoice-id:before{
  content: "#";
  color: #7E88C3;
}

.items{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.items:not(:first-of-type){
  margin-top: 1.5rem;
}

.items-container{
  background-color: var(--items-container-bkg);
  border-radius: 0.5rem 0.5rem 0 0;
  margin-top: 2.375rem;
  padding: 1.5rem;
}

.item-count{
  color: var(--item-name);
  margin-top: 0.5rem;
}

.item-name{
  color: var(--invoices-title);
}

.items-total{
  align-items: center;
  background-color: var(--items-total-bkg);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.items-total > * {
  color: #FFFFFF;
}

.mark{
  color: #FFFFFF;
  background-color: #7C5DFA;
  border-radius: 1.5rem;
  height: 3rem;
  margin-left: 0.5rem;
  width: 9.3125rem;
}

.mark:hover{
  background-color: #9277FF;
}

.sender-address{
  margin-top: 1.875rem;
}

.sender-address > * {
  color: var(--due-date);
}

.round{
  border-radius: 0.25rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  width: 0.5rem;
}

.status-container{
  align-items: center;
  border-radius: 0.375rem;
  bottom: 1.75rem;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  right: 1.5rem;
  width: 6.5rem;
}

.status-container > * {
  display: inline-block;
}

.status-container.paid {
  background-color: rgba(51, 214, 159, 0.0570882149040699);
}

.status-container.paid  > .status{
  color: #33D69F;
}

.status-container.paid  > .round{
  background-color: #33D69F;
}

.status-container.pending {
  background-color: rgba(255, 143, 0, 0.0570882149040699);
}

.status-container.pending > .status{
  color: #FF8F00;
}

.status-container.pending > .round{
  background-color: #FF8F00;
}

.status-container.draft {
  background-color: rgba(223, 227, 250, 0.0570882149040699);
}

.status-container.draft > .status{
  color: #DFE3FA;
}

.status-container.draft > .round{
  background-color: #DFE3FA;
}

.status-design{
  align-items: center;
  background-color: var(--card-bkg);
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.10);;
  display: flex;
  height: 5.6875rem;
  justify-content: space-between;
  margin: 1.9375rem auto 1rem 1.5rem;
  padding: 0 1.5rem;
  width: 20.4375rem;
}

.status-design > p {
  color: var(--view-pending);
}
