@media only screen and (min-width: 768px){
  header{
    height: 5rem;
  }
  .profile-picture{
    margin: auto 2rem;
  }

  .logo{
    height: inherit;
  }

  .logo-design{
    height: 2.5rem;
  }

  .theme{
    margin: auto 2rem auto 0;
  }
}
