:host{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.5rem 1fr;
}

header{
  background-color: var(--header-bkg);
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.logo-container{
  background-color: #7C5DFA;
  border-radius: 0 1.25rem 1.25rem 0;
  height: inherit;
  position: relative;
  width: 4.5rem;
  z-index: 100;
}

.logo{
  background-image: url("../assets/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: inherit;
  z-index: 3000;
}

.logo-design{
  background-color: #9277FF;
  border-radius: 1.25rem 0 1.25rem 0;
  bottom: 0;
  height: 2.25rem;
  position: absolute;
  width: inherit;
  z-index: -1000;
}

.profile-picture{
  align-self: center;
  border-radius: 100%;
  border: 1px solid #494E6E;
  height: 2rem;
  margin: auto 1.5rem;
  width: 2rem;
}

.settings-container{
  display: flex;
}

.settings-divider{
  width: 1px;
  background-color: #494E6E;
}

.theme{
  align-self: center;
  background-color: #FFFFFF00;
  background-image: var(--theme-image);
  background-repeat: no-repeat;
  height: 1.25rem;
  margin: auto 1.5rem auto 0;
  width: 1.25rem;
}
