:host{
  width: 100%;
}

.custom-input{
  align-items: center;
  color: var(--invoices-title);
  background-color: var(--checkbox-bkg);
  border: 1px solid var(--input-outline);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9375rem;
  font-weight: 700;
  height: 3rem;
  line-height: 1;
  letter-spacing: -0.015625rem;
  padding: 0 1rem 0 1.25rem;
  text-align: left;
  width: 100%;
}

.custom-input.disabled{
  color: #FFFFFF;
  opacity: 50%;
}

.custom-input:after{
  display: inline-block;
  content: url("/assets/icon-calendar.svg");
}

.date-container{
  background-color: var(--filters-container-bkg);
  border-radius: 0.5rem;
  box-shadow: var(--date-box-shadow);
  padding: 1.625rem 1.1875rem 1.9375rem 1.25rem;
  width: 20.4375rem;
}

.month-year{

}

.next-month{
  background-image: url("/assets/icon-arrow-right.svg");
  width: fit-content;
}
