<button
  class="custom-input"
  [ngClass]="isDisabled()"
  (click)="onClick()"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>{{initialDate | date: 'dd MMM yyyy'}}</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="dateIsOpen"
  (overlayOutsideClick)="clickedOutsideOverlay($event, trigger.elementRef)"
  [cdkConnectedOverlayPositions]="connectedPositions"
>
  <div class="date-container">
    <div class="month-year">
      <button class="previous-month"></button>
      <h4>{{month}} {{year}}</h4>
      <button class="next-month"></button>
    </div>
  </div>
</ng-template>
