:host{
  width: 100%;
}

.custom-input{
  align-items: center;
  color: var(--invoices-title);
  background-color: var(--checkbox-bkg);
  border: 1px solid var(--input-outline);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9375rem;
  font-weight: 700;
  height: 3rem;
  line-height: 1;
  letter-spacing: -0.015625rem;
  padding: 0 1rem 0 1.25rem;
  text-align: left;
  width: 100%;
}

.custom-input.disabled{
  color: #FFFFFF;
  opacity: 50%;
}

.custom-input:after{
  display: inline-block;
  content: url("/assets/icon-calendar.svg");
}
