:host{
  background-color: var(--items-container-bkg);
  display: inherit;
  margin-top: 2.9375rem;
  padding: 2.0625rem 2rem 2.4375rem 2rem;
}

tr > th{
  color: var(--due-date);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.38462;
  letter-spacing: -0.00625rem;
}

.col-item-name{
  width: 16.3125rem;
}

.col-price{
  width: 6.4375rem;
}

.col-total{
  text-align: right;
}

.col-quantity{
  width: 3.5rem;
}

table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th:nth-child(1), td:nth-child(1){
  text-align: left;
}

th:nth-child(2), td:nth-child(2){
  text-align: center;
}

th:nth-child(4){
  padding-right: 0.125rem;
}

th:nth-child(4), td:nth-child(4), th:nth-child(3), td:nth-child(3){
  text-align: right;
}

tr > td{
  color: var(--invoices-title);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015625rem;
  padding-top: 2rem;
}
